body {
    color: darkblue;
    font-size: 24x;
    text-align: center;
}

div {
    border: 3px dashed blue;    
    width: 400px;
    height: 120px;
    overflow: auto; 
    text-align: justify;
    margin: 20px auto;
    background-color: rgb(201, 232, 250);
}



p{
 font-size: 16px;
 text-align: center;
}

table{
    margin: 10px auto;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 600px;
    padding: 10px;
}

table td, table th{
    border: 1px solid gray;
    padding: 5px 5px;
}

table tr:nth-child(2){
    background-color:#a0b6d1;
}
li{
    font-size: 12px;
    text-align: left;

}

ul {
    list-style-type: circle;
    font-size: 18px;
}